*

# The app needs to query the size of these images to function
!/app/assets/static/

# App requirements
!/app/assets/css/
!/app/assets/js/
!/app/bin/
/app/bin/.phpunit
!/app/config/
!/app/public/
/app/public/build/
/app/public/bundles/
!/app/resources/data/
!/app/resources/schema/
!/app/src/
!/app/templates/
!/app/translations/
!/app/.env
!/app/composer.*
!/app/package.json
!/app/phpunit.*
!/app/postcss.config.js
!/app/symfony.lock
!/app/webpack.config.js
!/app/yarn.lock

# Docker build requirements
!/docker/
!/app/migrate_data.sh

# Documentation requirements
!/doc/
