{% macro datatable(data_table, table_id) %}
    <div id="{{ table_id }}"
         class="pkt-datatable-container"
         data-table-settings="{{ datatable_settings(data_table)|e('html_attr') }}">
        <i class="pkt-icon-loading"></i>
        Loading data...
    </div>
{% endmacro %}
