{% extends '@JsonSchema/schema/type/type.html.twig' %}
{# /** @var \DragoonBoots\JsonSchemaBundle\Schema\Type\Combination\AbstractSchemaCombination schema */ #}

{% block requirements %}
    {% import '@JsonSchema/schema/type/type.html.twig' as typeHelpers %}

    <h4><code>{{ schema.combinationType }}</code>:</h4>
    {{ typeHelpers.renderChildren(schema.children, path) }}
{% endblock %}
