{% extends 'base.html.twig' %}
{% import '_macros/datatable.html.twig' as datatable %}

{% block title %}Abilities{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">{{ version }}</li>
            <li class="breadcrumb-item active">Abilities</li>
        </ol>
    </nav>

    <h1>Abilities</h1>
    {% if not version.versionGroup.featureString('abilities') %}
        <p class="pkt-ability-index-none">This version does not have Abilities.</p>
    {% else %}
        <div class="pkt-ability-index-table">
            {{ datatable.datatable(ability_table, 'pkt-ability-index-table') }}
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('ability_index') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ability_index') }}
{% endblock %}
