{% extends 'search/base_teaser.html.twig' %}
{# /** @var \App\Entity\AbilityInVersionGroup entity */ #}

{% block title %}
    <a href="{{ path('ability_view', {'versionSlug': use_version(entity.versionGroup).slug, 'abilitySlug': entity.slug}) }}">
        {{ entity.name }}
    </a>
{% endblock %}

{% block contents %}
    {{ entity.shortDescription|markdown }}
{% endblock %}
