*

# The app needs to query the size of these images to function
!/assets/static/map/

!/bin/
/bin/.phpunit
!/config/
!/public/
/public/build/
/public/bundles/
!/resources/data/
!/resources/schema/
!/src/
!/templates/
!/translations/
!/.env
!/composer.*
!/phpunit.*
!/symfony.lock
