*

# The app needs to query the size of these images to function
!/assets/static/map/

# Webpack will need to copy things out of the php bundle
!/vendor/omines/datatables-bundle/

!/bin/
/bin/.phpunit
!/config/
!/public/
/public/build/
/public/bundles/
!/resources/data/
!/src/
!/templates/
!/translations/
!/.env
!/composer.*
!/symfony.lock
