{% extends 'search/base_teaser.html.twig' %}
{% block container %}
    {#    <div class="d-flex flex-column flex-md-row justify-content-start align-items-start">#}
    <div class="row">
        <div class="col-1 pkt-teaser-image">
            {% block image %}{% endblock %}
        </div>
        <div class="col-10">
            {{ parent() }}
        </div>
    </div>
{% endblock %}
