<div class="card pkt-teaser">
    {% block container %}
        <div class="card-body pkt-teaser-body">
            {% block body %}
                <h5 class="card-title pkt-teaser-title">{% block title %}{{ entity }}{% endblock %}</h5>
                <div class="pkt-teaser-contents">
                    {% block contents %}{% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
</div>
