[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-slugify = "*"
ruamel-yaml = "*"
progressbar2 = "*"
py-flags = "*"

[requires]
python_version = "3.7"
