{% extends 'base.html.twig' %}
{% import '_macros/datatable.html.twig' as datatable %}

{% block title %}Pokèmon{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">{{ version }}</li>
            <li class="breadcrumb-item active">Pokèmon</li>
        </ol>
    </nav>

    <h1>Pokèmon</h1>
    <div class="pkt-pokemon-index-table">
        {{ datatable.datatable(pokemon_table, 'pkt-pokemon-index-table') }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('pokemon_index') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('pokemon_index') }}
{% endblock %}
