{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="d-flex flex-column flex-md-row justify-content-around align-items-center">
            <img class="pkt-logo" src="{{ asset('build/static/logo-cropped.svg') }}" aria-hidden="true">
            <div class="d-flex flex-column">
                <h1 class="display-4">This is {{ app_name }}.</h1>
                <p class="lead">
                    Accurate tools and data tailored to each version.
                </p>
            </div>
        </div>
        <hr class="my-4">
        {%- if version is defined -%}
            {%- set version_slug = version.slug -%}
        {%- else -%}
            {%- set version_slug = default_version -%}
        {%- endif -%}
        <a class="btn btn-primary btn-lg" href="{{ path('search_search', {'versionSlug': version_slug}) }}">Search</a>
    </div>

    <h1>What?</h1>
    <p>This is a site dedicated to sharing information about various Pokémon games.</p>

    <h1>Why?</h1>
    <p>
        There are certainly many sites around dedicated to this purpose. However many of them are only accurate to the
        latest version, or aren't organized in a clear manner. This site's goal is to present each game's data as a
        "snapshot" - guaranteed to be accurate to that game when it was released.
    </p>

    <h1>How?</h1>
    <p>
        Navigate the site using the navigation menu, or try searching!
    </p>
{% endblock %}
