{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <img src="{{ asset('build/static/logo.svg') }}" style="height: 20rem">
    </div>
    <h1>What?</h1>
    <p>This is a site dedicated to sharing information about various Pokèmon games.</p>

    <h1>Why?</h1>
    <p>
        There are certainly many sites around dedicated to this purpose. However many of them are only accurate to the
        latest version, or aren't organized in a clear manner. This site's goal is to present each game's data as a
        "snapshot" - guaranteed to be accurate to that game when it was released.
    </p>

    <h1>How?</h1>
    <p>
        Navigate the site using the navigation menu, or try searching!
    </p>
{% endblock %}
