.algolia-autocomplete {
    .aa-hint {
        color: $gray-600;
    }

    .aa-dropdown-menu {
        width: 100%;
        background-color: $white;
        border: 1px solid $gray-900;
        border-top: none;

        .aa-suggestion {
            @extend .px-1;
            @extend .py-1;
            @extend .d-flex;
            @extend .align-items-center;

            height: calc(#{$pkt-entityicon-size} + (2 * #{map-get($spacers, 1)}));
            cursor: pointer;

            &.aa-cursor {
                background-color: $gray-200;
            }

            em {
                font-weight: bold;
                font-style: normal;
            }
        }

        .aa-empty {
            @extend .aa-suggestion;

            cursor: default;
        }
    }
}
