img.pkt-icon {
    height: 1em;
    display: inline-block;
    vertical-align: text-top;
}

i.pkt-icon {
    &-loading::after {
        @extend %fa-icon;
        @extend .fas;
        @extend .fa-spin;

        vertical-align: text-bottom;
        content: fa-content($fa-var-circle-notch);
    }
}
