svg.pkt-map {
    max-height: 20rem;
}

g.pkt-map-overlay {
    fill: red;
    opacity: 0.5;

    // Flashing animation
    @keyframes fadeInOut {
        from {
            opacity: 0.3;
        }
        to {
            opacity: 0.6;
        }
    }
    animation-duration: 1s;
    animation-name: fadeInOut;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
