@import "~orgchart/src/css/jquery.orgchart.css";

$line-color: $body-color;

.orgchart {
    background: none;

    table {
        width: 100%;
    }

    .node {
        width: inherit;

        &:hover{
            background-color: inherit;
            transition: none;
        }
    }

    .lines {
        .topLine {
            border-top-color: $line-color;
        }

        .rightLine {
            border-right-color: $line-color;
        }

        .leftLine {
            border-left-color: $line-color;
        }

        .downLine {
            background-color: $line-color;
        }
    }
}