$pkt-icon-size: 1em;
$pkt-entityicon-size: 2em;

@import "bootstrap";
@import "fontawesome";

// Components
@import "content";
@import "icons";
@import "navbar";
@import "type";

.pkt-logo {
    @extend .p-2;

    max-width: 100%;
    max-height: 30%;

    @include media-breakpoint-up(md) {
        max-width: 50%;
    }
}
