@import "app";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
@import "~datatables.net-fixedcolumns-bs4/css/fixedColumns.bootstrap4.css";
@import "~datatables.net-fixedheader-bs4/css/fixedHeader.bootstrap4.css";
@import "~datatables.net-scroller-bs4/css/scroller.bootstrap4.css";

table.table {
    ul, ol {
        padding-left: 1em;
        margin-bottom: 0;
    }

    p {
        &:first-of-type {
            margin-top: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    td > table.table {
        width: max-content;
    }
}

