@import "app";
@import "imagelist";
@import "location_map";

.pkt-location-index-maps {
    @extend .d-flex;
    @extend .justify-content-around;
    @extend .my-3;

    flex-direction: row;
    flex-wrap: wrap;

    //@include media-breakpoint-up(sm) {
    //    flex-direction: row;
    //    flex-wrap: wrap;
    //}

    & > div {
        margin-left: $card-deck-margin;
        margin-right: $card-deck-margin;
        margin-bottom: $card-deck-margin;
    }

    img {
        max-width: 15rem;
        max-height: 15rem;
    }
}

g.pkt-map-overlay {
    fill: $gray-900;
    fill-opacity: 0.2;
    stroke-opacity: 1;
    stroke: red;
    stroke-width: 1%;
    animation: none;

    &:hover {
        fill: red;
        fill-opacity: 0.5;
    }
}

ul.pkt-location-index-list {
    column-width: 12em;
    column-fill: balance;
    column-gap: 1.25rem;

    ul {
        padding-inline-start: 1em;
    }
}
