@import "app";
@import "imagelist";
@import "location_map";

.pkt-location-index-maps {
    img {
        max-height: 15rem;
    }
}

g.pkt-map-overlay {
    fill: $gray-900;
    fill-opacity: 0.2;
    stroke-opacity: 0.5;
    stroke: red;
    stroke-width: 1%;
    animation: none;

    &:hover {
        fill: red;
    }
}

ul.pkt-location-index-list {
    column-width: 12em;
    column-fill: balance;
    column-gap: 1.25rem;

    ul {
        padding-inline-start: 1em;
    }
}
