{% extends 'search/base_suggestion.html.twig' %}
{# /** @var \App\Entity\Type entity */ #}

{% block body %}
    <span class="pkt-entityicon-none"></span>&nbsp;{{ entity|type_emblem(link=false) }}
{% endblock %}
