{#
/**
 * @var \App\Entity\MoveDamageClass value
 */
#}
{% if value %}
    <i class="pkt-icon pkt-icon-damageclass-{{ value.slug }}"></i><span class="sr-only">{{ value.name }} class</span>
{% endif %}