<div>
    {% if value %}
        <div aria-hidden="true">
            {{ gauge_radial(value) }}
        </div>
        <div class="pkt-gauge-label">{{ value }}%</div>
    {% else %}
        <div class="pkt-gauge-label">*</div>
    {% endif %}
</div>
