<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" href="/site.webmanifest">

    <title>DEBUG - {% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('debug') }}
    {% endblock %}
    {% block head %}{% endblock %}
</head>

<body>
<div class="content-wrapper">
    {# Main content #}
    <main class="container-fluid">
        {% block body %}{% endblock %}
    </main>

</div>

{% block javascripts %}
    {{ encore_entry_script_tags('debug') }}
{% endblock %}
</body>
</html>
